.Container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.Introducion {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 28em;
    margin-left: 2em;
}

.Slider {
    display: block;
    max-width: 100%;
    width: 100%;
}

.Introducion p {
    display: flex;
    margin-top: 28px;
    font-size: 15px;
    align-items: center;
}

.Wallpaper img {
    height: 500px;
    width: 830px;
    box-shadow: 0 1px 35px 1px;
    border-radius: 20px;
}



@media screen and (max-width: 768px) {
    .Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .Introducion h2 {
        display: flex;
        width: 16em;
        margin-top: 30px;
    }

    .Introducion p {
        display: flex;
        width: 21em;
        font-size: 17px;
    }

    .Wallpaper img {
        height: 300px;
        width: 360px;
        box-shadow: 0 1px 35px 1px;
        border-radius: 20px;
    }

}