.Container {
    display: flex;
    flex-direction: column;
}

.MainCard {
    margin-top: 3em;
}

.Title {
    display: flex;
    font-size: 20px;
}

h1 {
    display: flex;
    margin-top: 1.7em;
    margin-left: 50px;
}