.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 24em;
    color: #000000;
}

.Container p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.Sponsors {
    display: flex;
    align-items: center;
}

.Sponsors img {
    display: flex;
    width: 200px;
    margin-bottom: 25px;
    margin: 19px 60px;
}

.Social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Link {
    display: flex;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: #585757;
}

.Right span {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}


@media screen and (max-width: 1200px) {
    .Sponsors {
        display: block;
    }

    .Social {
        display: block;
    }

    .Right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Right span {
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        height: 100px;
    }

}