.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.MainCard {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 2);
}

@media screen and (min-width: 768px) {}